language: node_js
dist: trusty
node_js:
- '10.14'
branches:
  only:
  - master
  - "/^greenkeeper/.*$/"
  - "/^v?[0-9]+.[0-9]+.[0-9]+(-.*)?$/"
cache:
  directories:
  - "$HOME/.npm"
  - "$HOME/.mongodb/versions"
jobs:
  include:
  - stage: test
    env:
    - MONGODB_VERSION=3.6.9
    before_script:
    - npm install -g mongodb-runner
    - mongodb-runner start
    script:
    - npm run lint
    - npm test -- --maxWorkers=4
    - npm run integration
    after_script: "./node_modules/codecov/bin/codecov -f ./coverage/coverage-final.json
      && rm -rf ./coverage"
  - stage: release
    env:
    -
    before_script: skip
    after_script: skip
    script:
    - npm run release_docs
    deploy:
    - provider: pages
      skip_cleanup: true
      github_token: "$GITHUB_TOKEN"
      local_dir: docs/
      on:
        all_branches: true
    - provider: npm
      skip_cleanup: true
      email:
        secure: NGcEiR5Q9N2n83xRUTY9KjrirwE86/8CiLxfdheKVYGag454GXh8uPHZQzhv9p4taprx/nPxQtnyLdUOrlmbW9a5grA1j/QMxKmKw00AjkIMefOSCJ4n0penlz2JI7M746DPraUwiJ2/UZERwV5cQmJg4X3eNetEc68WmLQeeV1IV6/72vExA0zFWdb+eg6sP06ZyYLi9StO730LqnxPsvqQSRJbFn7RVgj8Jz9aRK2YnMT8pq6Vj7N56Pu9nnno4eytfNynlzNgubBHhF1Jl5dxW3VWoem5/B7ehxk2sgZgkgH53kFmZsePTu2gFwQHGVV/zl40/a2BDjsIm4Na0X52HEoPMEHUlemRVMXB3Sl9sglo72YpGAbIc3rYRsr23aJ2pUgXVGjuhdQqB9OH/UMWPmm9ZTtQg08nhBfOQDLvf7rHrScqPGk6pWJEMAXA4B09asFD1wcrMfdgs8uuPJ2DIzxSK4FMyfbJci5/G/BzojtQsOn/PGdLZ5HM7gHwUoZ8qYbv+sVtNl4vOXEAuyuOpm9i8OJZBG+BzVwAoXZeilJtHlt4LkZBhSKcLfWg+2V1t+VmOr4cnBHPLHOdSYTkI9zqyRgKDI3zbSszLQcuNVXDAsygI5/MbW+xEYiY8lllvfj3KTdXrTobJGL97A6egq9ZxtY6EOGbbMgUmkg=
      api_key:
        secure: dEvG8zO1GL6yEJkfcbpIE+PejmsKPgZsOY4xGxFtrCdDCk4qHTyO6qc9TwQ5m+LfajZuq9EGCyTj7mPcwOrwmLTmX+sEP8QcW6L08syUvQeXqSL28RM10e6i/aEeMzwLrEvh9MmJZhA1mvuQLGq8Sx6SPZHQaQvvOia2hwQaATI9EM+FO1+ieawSIctNvtqkWwvqHHYTDJcJvT8q5uxIf2b5vJj42j2+JLuMDxVKwc7khdO/k9JBpbd0YZptIL3SL4LfMIczKMH/bMwAarG/Cm6fggexPCyofJn7Oof9PBXgUMDUCgxYvHstLK1WbvbEeyA6DvJIoY3SYwmdEjjIUdasMLTJyHlpppntR8fMmEt71BpHJG2TcLOt/dk1BdAKdNOLZMODo/nhLNuxvC3ymB8N2ZfhFk8cGEfU2SdapRkA9RVYEt6mrXT0lJEJ2V/A1giRNzeYaUX69JzcnUACJlzmbxlyRESvawdWJI+/JzjROS0PJG8y9cpe8I+SwqbNi7NFk1lWnSmvcyjTM4fFMppPdz3rEaGBYY7S1NlMayG5PdCctxn6ZBC6snRDMEPL2W2FbOO275M+fiwJ9m5A6AWapeBADAzc7gRCobpXB2dQXrvFi+2X6ReHP09ecFzdJLVEt9VdPAPUij/0s9Mby219s731mFh/0zhdYAo8/fA=
      on:
        tags: true
        all_branches: true
        repo: parse-community/Parse-SDK-JS
