name: ci
on:
  push:
    branches: [ release, alpha, beta, next-major ]
  pull_request:
    branches:
      - '**'
jobs:
  check-lock-file-version:
    name: NPM Lock File Version
    timeout-minutes: 5
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Check NPM lock file version
        uses: mansona/npm-lockfile-version@v1
        with:
          version: 1
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - name: Node 14
            NODE_VERSION: 14.21.1
          - name: Node 16
            NODE_VERSION: 16.18.1
          - name: Node 18
            NODE_VERSION: 18.12.1
          - name: Node 19
            NODE_VERSION: 19.3.0
      fail-fast: false
    steps:
    - name: Fix usage of insecure GitHub protocol
      run: sudo git config --system url."https://github".insteadOf "git://github"
    - name: Fix git protocol for Node 14
      if: ${{ startsWith(matrix.NODE_VERSION, '14.') }}
      run: sudo git config --system url."https://github".insteadOf "ssh://git@github"
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.NODE_VERSION }}
    - name: Cache Node.js modules
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
            ${{ runner.os }}-node-
    - run: npm ci
    - run: npm install -g mongodb-runner
    - run: mongodb-runner start
    - run: npm run lint
    - run: npm test -- --maxWorkers=4
    - run: npm run integration
      env:
        CI: true
    - run: bash <(curl -s https://codecov.io/bash)
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
